# Installers directory has a bunch of big binaries in it
/Installers

# Data/DBFiles is where the SQL Server data files are restored to
Data/DBFiles/*.mdf
Data/DBFiles/*.ldf

# Ignore PowerPoint & Excel temp files
ppt/~$*.ppt*
~$*.xls*

# Ignore big 'ol Access Database
Data/ContosoSales.accdb

# Don't pick up demo output files
Demos/Output/*

