# Installers directory has a bunch of big binaries in it
/Installers

# Data/DBFiles is where the SQL Server data files are restored to
Data/DBFiles/*.mdf
Data/DBFiles/*.ldf

# Ignore PowerPoint temp files
ppt/~$*.ppt*
Data/ContosoSales.accdb
